<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo 66</title>
</head>
<body>
    <!--
    Algoritmo 66: Elaborar um programa que leia 2 notas de um aluno em uma disciplina.
         Calcule e informe a média das notas.
    -->
    <script>
        const nota1 = Number(prompt("Digite a primeira nota"))
        const nota2 = Number(prompt("Digite a segunda nota"))
        const media = (nota1 + nota2) / 2
        alert("A média das notas é: " + media.toFixed(2))
    </script>

</body>
</html>