<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 5 - Java Script</title>
</head>
<body>

    <!--Crie um script JavaScript
    Que receba dois números inteiros e mostre o resultado-->
    
<!--
    
Algoritmo 60: Elaborar um programa que leia o valor de um jantar.Calcule e informe
o valor da taxa do garçom (10%) e o valor total a ser pago.

Algoritmo 61:Crie um script JavaScript. Que receba dois números inteiros e mostre o resultado

Algoritmo 62:Elaborar um programa que leia a duração de uma viagem em dias e horas.
Calcule e informe a duração total da viagem em números de horas.
 "Quantos dias" 2 (dias)
 "Quantas horas" 5 (horas)
 "Total em Horas:"______p

Algoritmo 63: Elaborar um programa que leia um número. Calcule e informe os seus vizinhos.

Algoritmo 64: Elaborar um programa para pizzaria, o qual leia o valor total de uma conta
e quantos clientes vão pagá-la.Calcule e informe o valor a ser pago por cliente.

Algoritmo 65: Elaborar um programa para uma loja, o qual leia o preço de um produto
e informe as opções de pagamento da loja. Calcule e informe o valor para pagamento
à vista com 10% de desconto e o valor em 3x.

Algoritmo 66: Elaborar um programa que leia 2 notas de um aluno em uma disciplina.
Calcule e informe a média das notas.



-->


<script>
     //Algoritmo 61:Crie um script JavaScript. 
     // Que receba dois números inteiros e 
     // mostre o resultado
     const primeiroNumero = Number(prompt("Digite o primeiro número"))
     const segundoNumero = Number(prompt("Digite o segundo número"))
     const soma = primeiroNumero + segundoNumero
     alert("A soma dos números é: " + soma)

</script>
  


</body>
</html>