<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 2 - JavaScript</title>
</head>
<body>
     
    <!--Isso é um comentário HTML -->
    <script>
        //Esse é um comentário JavaScript uma linha
        /* Esse é um comentário JavaScript múltiplas linhas*/
        const nome = prompt("Digite o seu nome")
        alert("Olá: "+nome+", Seja Bem Vindo ao FRONT-END!")
        alert(` Olá ${nome}, Seja Bem Vindo ao FRONT-END! `)
    </script>

</body>
</html>