<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo 63</title>
</head>
<body>

    <!--
    
        Algoritmo 63: Elaborar um programa que leia um número. 
        Calcule e informe os seus vizinhos.
    
    -->

    <script>
        const numero = Number(prompt("Digite um número"))
        const vizinhoAnterior = numero - 1
        const vizinhoPosterior = numero + 1
        alert("O vizinho anterior é: " + vizinhoAnterior)
        alert("O vizinho posterior é: " + vizinhoPosterior)
    </script>

    
</body>
</html>