<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Estilo.css">
</head>
<body>

    <header>
    <ul>
        <li> <a href="#secao_noticias"><li>noticias</li></a>
        <li> <a href="#secao_comercio"><li>Comercio</li>
        <li> <a href="#secao_cultura"><li>Cultura</li>
        <li> <a href="#secao_educaçao"><li>Educaçao</li>
        <li> <a href="#secao_esportes"><li>Esportes</li>
        <li> <a href="#secao_espitualidade"><li>Espiritualidade</li>
        <li> <a href="#secao_palestras"><li>palestras</li>
        <li> <a href="#secao_bate papo"><li>Bate Papo</li>
    </ul>    



    <header>
</main>
       
       <h6 id="secao_noticias">noticias</h6>
       <p>Mussum Ipsum, cacilds vidis litro abertis.
        Eu nunca mais boto a boca num copo de cachaça, 
        agora eu só uso canudis! Admodum accumsan disputationi eu sit.
        Vide electram sadipscing et per.
        Aenean aliquam molestie leo, vitae iaculis nisl.
        Atirei o pau no gatis, per gatis num morreus.</p>

       <h6 id="secao_comercio">comercio</h6>
       <p>Mussum Ipsum, cacilds vidis litro abertis. 
        Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
        Quem num gosta di mé, boa gentis num é. Nulla id gravida magna, ut semper sapien. 
        Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!</p>
       <h6 id="secao_cultura">cultura</h6>
       <p>Mussum Ipsum, cacilds vidis litro abertis. 
        In elementis mé pra quem é amistosis quis leo.
        Manduma pindureta quium dia nois paga. 
        Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. 
        Mé faiz elementum girarzis, nisi eros vermeio.</p>
       <h6 id="secao_educaçao">educaçao</h6>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  
        Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. 
        Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
        Manduma pindureta quium dia nois paga. 
        In elementis mé pra quem é amistosis quis leo.</p>
       <h6 id="secao_esportes">esportes</h6>
        <p>Mussum Ipsum, cacilds vidis litro abertis.  
        Delegadis gente finis, bibendum egestas augue arcu ut est. 
        Manduma pindureta quium dia nois paga. 
        Sapien in monti palavris qui num significa nadis i pareci latim. 
        Negão é teu passadis, eu sou faxa pretis.</p>
       <h6 id="secao_espiritualidade">espitualidade</h6>
       <p>Mussum Ipsum, cacilds vidis litro abertis.  
        Aenean aliquam molestie leo, vitae iaculis nisl. 
        Copo furadis é disculpa de bebadis, arcu quam euismod magna. 
        Quem num gosta di mé, boa gentis num é. 
        A ordem dos tratores não altera o pão duris.</p>
       <h6 id="secao_palestras">palestras</h6>
       <p>Mussum Ipsum, cacilds vidis litro abertis.  
        Praesent vel viverra nisi. 
        Mauris aliquet nunc non turpis scelerisque, eget.
        Si num tem leite então bota uma pinga aí cumpadi! Sapien in monti palavris qui num significa nadis i pareci latim.
        Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.</p>
       <h6 id="secao_bate papo">bate papo</h6>
       <p>Mussum Ipsum, cacilds vidis litro abertis.  
        Nulla id gravida magna, ut semper sapien. 
        Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
        Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Vehicula non.
        Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.</p>

</main>
<footer>

     SENAI - Serviço Nacional de Aprendizagem Industrial &nbsp; &copy; 2026


    </footer>


</body>
</html>