<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo 65</title>
</head>
<body>
    
<!--
     Algoritmo 65: Elaborar um programa para uma loja, 
     o qual leia o preço de um produto e informe as opções de pagamento da loja. 
     Calcule e informe o valor para pagamento à vista com 10% de desconto
     e o valor em 3x.   

-->
     
    <script>
        const precoProduto = Number(prompt("Digite o preço do produto"))
        const pagamentoAVista = precoProduto * 0.9
        const pagamentoParcelado = precoProduto / 3
        alert("Valor à vista com 10% de desconto: R$ " + pagamentoAVista.toFixed(2))
        alert("Valor em 3x: R$ " + pagamentoParcelado.toFixed(2))
    </script>

</body>
</html>