<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form>

<input type="text" name="filme" placeholder="nome do filme" id="filme" required>
<input type="number" name="tempo" placeholder="tempo de duração minutos" id="tempo" required>
<input type="submit" value="Converter em Horas e Minutos">

</form>

<script src="scripts/alg68.js"></script>
</body>
</html>