<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo 64</title>
</head>
<body>

    <!--
    
   
Algoritmo 64: Elaborar um programa para pizzaria, o qual leia o valor total de uma conta
e quantos clientes vão pagá-la.Calcule e informe o valor a ser pago por cliente.
    
    -->

 <script>

     
        const valorTotal = Number(prompt("Digite o valor total da conta"))
        const quantidadeClientes = Number(prompt("Digite a quantidade de clientes"))
        const valorPorCliente = valorTotal / quantidadeClientes
        alert("O valor a ser pago por cliente é: R$ " + valorPorCliente.toFixed(2))

 </script>
    
</body>
</html>